:root {
    --primary-color: #F25C05;
    --primary-color-hover: #c94f09;
    --secondary-color: #FEEFE6;
}


#surat .card-text {
    margin-top: -50px;
    color: white;
    /* margin-bottom: 10px; */
    /* background-color: transparent; */
    /* background: linear-gradient(180deg, rgba(6, 10, 64, 0) 17.69%, rgba(6, 10, 64, 0.75) 84.92%); */
}


#surat .card {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.258140756302521) 50%, rgba(0, 0, 0, 1) 100%); */
    border: 1px solid #fff;
    border-radius: 30px;

}

.navbar {
    background-color: var(--secondary-color);
}

.navbar .container {
    /* padding-top: 1rem !important;
    padding-bottom: 1rem !important; */
}

.navbar-nav .nav-item {
    /* font-size: 1.25rem !important; */
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

#log img {
    width: 30px;
}


#tentang-kami {
    background-color: var(--primary-color);
}

.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}


.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1em;
}

.vektor-login {
    background-color: var(--primary-color);
    /* clip-path: circle(50% at 60% 50%); */
    clip-path: circle(75% at 24% 51%);
    width: 100%;
    height: 90;
    /* margin-right: -100px; */
}

.vektor-register {
    background-color: var(--primary-color);
    /* clip-path: circle(50% at 60% 50%); */
    clip-path: circle(78% at 92% 53%);
    width: 90%;
    height: 90;
    /* margin-right: -100px; */
}

#lupa-wae {
    cursor: pointer;
}

@media (max-width: 576px) {
    .vektor-login {
        clip-path: circle(71.8% at 45% 25%);
    }

    .vektor-register {
        clip-path: circle(71.8% at 45% 28%);
        width: 100%;
    }
}




i.bi.bi-star-fill,
i.bi.bi-star-half {
    color: gold;
}

/* img.icon-cirle:after {
    background-color: var(--primary-color);
    padding: 30px;
    margin: 30px;
    clip-path: circle(50% at 50% 50%);
} */

.icon-cirle {
    background-color: var(--secondary-color);
    padding: 70px;
    font-size: 35px;
    clip-path: circle(30% at 50% 50%);
    text-align: center;
    margin: auto;
}

.icon-cirle:before {
    background-color: var(--primary-color);
    padding: 70px;
    font-size: 35px;
    clip-path: circle(35% at 50% 50%);
    color: white;
    text-align: center;
    margin: auto;
}

#log .card {
    background: var(--secondary-color);
    border-radius: 30px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


footer ul li {
    margin-bottom: 10px;
}


.sila {
    color: var(--primary-color);
}

.circle {
    width: 750px;
    height: 750px;
    background: var(--primary-color);
    /* -moz-border-radius: 70px; */
    /* -webkit-border-radius: 70px; */
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    top: -50px;
    left: -160px;

    /* position: absolute;
    width: 1220px;
    height: 1220px;
    left: -547px;
    top: -99px;
    z-index: -10;
    border-radius: 50%;
    background: var(--primary-color); */
}

.selamat-datang {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.form-control,
.form-control:hover {
    /* Light 1 */

    background: var(--secondary-color);
    /* Dark 2 */
    height: 40px;
    /* height: 50px; */

    border: 1px solid #000000;
    border-radius: 12px;
}

.btn-login {
    background: var(--primary-color);
    border-radius: 100px;
    /* height: 50px; */
    color: white;
}

.btn-login:hover {
    background: var(--primary-color-hover);
    border-radius: 100px;
    color: white;
}